BasedOnStyle: LLVM

IndentWidth: 4
TabWidth: 4
UseTab: Never

ColumnLimit: 300

BreakBeforeBraces: Attach
SpaceBeforeParens: ControlStatements

DerivePointerAlignment: false
PointerAlignment: Left

AllowShortIfStatementsOnASingleLine: Never
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty